.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9fa;
}

.card {
  padding: 20px;
  border-radius: 8px;
  background-color: #EAEAEA;
  width: 100%;
  max-width: 600px;
  border: none;
}

.cardTitulo {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #504f4f;
}

.alert {
  margin-top: 10px;
}

.formEstilo {
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 15px;
}

.btn {
  border-radius: 20px;
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  width: 100%;
  margin-top: 20px;
  border: none;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn:hover {
  background-color: rgb(243, 165, 191);
}

input.formEstilo, textarea.formEstilo{
  border: nonr;
  border-radius: 20px;
  padding: 10px;
  box-shadow: none;
}

.formLabel{
  font-size: 14px;
  margin-bottom: 8px;
  margin-left: 8px;
}

.formEstilo::placeholder{
  font-size: 14px;
  color: #6e6e6e;
}